<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CISE Student Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Search Directory</h1>
            </div>
            <br>

            <form action="{{ url_for('handle_search_request') }}" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="first">First Name</label>
                        <input class="form-control" type="text" placeholder="First Name" id="first" name="first">
                    </div>
                    <div class="col">
                        <label for="last">Last Name</label>
                        <input class="form-control" type="text" placeholder="Last Name" id="last" name="last">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="country">Country of Origin</label>
                        <select class="form-control" id="country" name="country">
                            <option value=""> - </option>
                            <option>El Salvador</option>
                            <option>Germany</option>
                            <option>South Korea</option>
                        </select>
                    </div>
                    <div class="col">
                            <label for="major">Major</label>
                            <select class="form-control" id="major" name="major">
                                <option value=""> - </option>
                                <option>STAT</option>
                                <option>COSC</option>
                                <option>MATH</option>
                            </select>
                        </div>
                </div>
                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Search</button>
            
            </form>
            <br><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>
