{% extends "layout.html" %}
{% block view %}
<div class="flex-column">
    <h1 id="name">James Richard Johnson (Jimmy)</h1>
    <table id="info" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Legal First Name</th>
                <th>Legal Middle Name</th>
                <th>Legal Last Name</th>
                <th>Preferred Name</th>
                <th>Date of Birth</th>
                <th>Sex</th>
                <th>Class Year</th>
                <th>AC Box Number</th>
                <th>AC Email</th>
            </tr>
        </thead>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    var info = {{data | safe}}
    console.log(info);
    sid = info[0].sid;
    legal_first = info[0].legal_first;
    legal_middle = info[0].legal_middle;
    legal_last = info[0].legal_last;
    preferred_name = info[0].preferred_name;
    dob = info[0].date_of_birth;
    sex = info[0].sex;
    class_year = info[0].class_year;
    ac_box = info[0].ac_box;
    ac_email = info[0].ac_email;

    $('#info').append("<tr><td>"+sid+"</td><td>"+legal_first+"</td><td>"+legal_middle+"</td><td>"+legal_last+"</td><td>"+preferred_name+"</td><td>"+dob+"</td><td>"+sex+"</td><td>"+class_year+"</td><td>"+ac_box+"</td><td>"+ac_email+"</td></tr>");
    $('#name').text(legal_first + " " + legal_middle + " " + legal_last + " (" + preferred_name + ")");
</script>
{% endblock %}




