<!DOCTYPE html>
<html>
    <head>
        <title>CISE DB Project</title>
    </head>
    <body>
        <h1>Insert into table Student</h1>
        <form>
            <div>
                <label for="name">Student Name</label>
                <input name="name" id="name" value="Matteo">
            </div>
            <div>
                    <label for="name">SEVIS ID</label>
                    <input name="name" id="name" value="1234567">
                </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
        <div>
            <h3>Retrieve student info</h3>
            <label for="name_retrieve">Student Name</label>
            <input name="name_retrieve" id="name_retrieve" value="Scott">
            <button>Retrieve</button>
            <div id="student_info"></div>
        </div>
    </body>
</html>